.commentFormTextarea__label {
  width: 100%;
  margin: 10px 45px;
  text-transform: uppercase;
  font-weight: 600;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.commentFormTextarea__textarea {
  width: 92%;
  height: 150px;
  margin: 10px 0;
  padding: 5px;
  border: 3px solid blue;
  border-radius: 5px;
  resize: none;
}