.item {
  display: flex;
  border: 1px solid blue;
  border-radius: 3px;
  margin: 20px 0;
}

.title {
  min-width: 20%;
  border-right: 1px solid blue;
  padding: 10px;
}

.name {
  font-style: italic;
}

.date {
  font-family: monospace;
}

.text {
  flex: 1 0 auto;
  padding: 10px;
  text-align: justify;
}

.delete_wrapper {
  position: relative;
}

.delete {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.delete div:first-child,
.delete div:last-child {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 20px;
  height: 2px;
  background-color: red;
  transform: rotate(45deg);
}

.delete div:last-child {
  transform: rotate(-45deg);
}
